{* This is the welcome page, you can delete it *}

{block content}
<div class="header-text">
    <h1>Nástěnka</h1>
</div>

<div class="row">
    {foreach $rooms as $r}
    <div class="room-name" class="col-lg-3 col-xs-12" style="background-color: {$r->color}">
        <div class="box-color">
            <div class="title-box">    
            <h3>{$r->name}</h3><hr>
                <p>
                <li>{*popis*}</li> 
                </p>
            </div>
    <div class="col-lg-3 col-xs-6" style="background-color: {$r->color}">
        <div class="bg-aqua">
                <h3>{$r->name}</h3>
                <p></p>
                <a href="{plink HeatSensor:new, id => $r->id}">Přidat nový sensor</a>
        </div>
    </div>
    {/foreach}
</div>

<div class="row">
    <div class="col-xs-8 col-offset-xs-2">
        <a class="add-btn" href="{plink Element:new}">Přidat novou místnost</a>
    </div>
</div>
    
{/block}
