{* This is the welcome page, you can delete it *}

{block content}
{/block}
{block sidebar}
<div class="row">
    {snippet room}
        {foreach $rooms as $r}
        <div class="col-lg-12 col-xs-12" style="background-color: {$r->color}">
            <div class="bg-aqua _room" data-id="{$r->id}">
                    <h3 class="bg-aqua-text">{$r->name}</h3>
                    <p></p>
                    {foreach $r->heat_sensor as $v}
                        {$v->name}: {$heat_sensor[$v->id][0]->value}°C<br>
                    {/foreach}
                    {foreach $r->humidity_sensor as $v}
                        {$v->name}: {$humidity_sensor[$v->id][0]->value}%<br>
                    {/foreach}
                    <a href="{plink HeatSensor:new, id => $r->id}">Přidat nový sensor</a>
            </div>
        </div>
        {/foreach}
    {/snippet}
    <div class="row">
    <a href="{plink Element:new}">
        <button class="add first-add col-xs-12"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></button>
    </a>
    </div>
</div>
{/block}

{block chart}
    <div id="main-chart"></div>
{/block}

{block script}
    <script>
        var dd = new Object();
        
        dd["do"] = "redraw";
        setInterval(function() {
            $.ajax({
                url: "http://localhost/",
                dataType: "json",
                type: "GET",
                data: $.param(dd),
                success: function(data) {
                    $("#snippet--room").html(data["snippets"]["snippet--room"]);
                }
            });
        }, 5000);
        
    </script>
{/block}
