{block heading}
Zaměstnanci
{/block}


{block content}

<a href="{plink new}" class="btn btn-primary pull-right topButton">Přidat nového</a>

<div class="box">

    <div class="box-header dataHead">
        <h3 class="box-title pull-left">Přehled zaměstnanců</h3>
    </div>

    {control grid}
</div>